{% extends 'base/base.html' %}
{% load static from staticfiles %}
{% block title %}天天生鲜 - 首页{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}

{# 网页主体内容块 #}
{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'rx:indenxs' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {# 遍历展示商品种类的信息 #}
            {% for category in types %}
                <li><a href="#model0{{ forloop.counter }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {# 遍历展示首页轮播商品的信息 #}

                <li><a href="#"><img src="/static/images/slide.jpg" alt="幻灯片"></a></li>
                <li><a href="#"><img src="/static/images/slide02.jpg" alt="幻灯片"></a></li>
                <li><a href="#"><img src="/static/images/slide03.jpg" alt="幻灯片"></a></li>
                <li><a href="#"><img src="/static/images/slide04.jpg" alt="幻灯片"></a></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {# 遍历显示首页的促销活动信息 #}
            <li><a href="#"><img src="/static/images/adv01.jpg" alt="幻灯片"></a></li>
            <li><a href="#"><img src="/static/images/adv02.jpg" alt="幻灯片"></a></li>

        </div>
    </div>

    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜水果</h3>

            <a href="/rx/listgood/1/1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good01 %}

                    <li>
                        <h4><a href="{% url 'rx:detail' goods.id %}">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">海鲜盛宴</h3>

            <a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good02 %}

                    <li>
                        <h4><a href="#">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">猪牛羊肉</h3>

            <a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good03 %}

                    <li>
                        <h4><a href="#">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">禽类蛋品</h3>

            <a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good04 %}

                    <li>
                        <h4><a href="#">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">新鲜蔬菜</h3>

            <a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good05 %}

                    <li>
                        <h4><a href="#">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">速冻食品</h3>

            <a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
            <ul class="goods_list fl">

                {% for goods in good06 %}

                    <li>
                        <h4><a href="#">{{ goods.goodname }}</a></h4>
                        <a href="#"><img src="{{ goods.goodimage }}"></a>
                        <div class="prize"> ￥ {{ goods.price }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock body %}

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>


</body>
</html>